<!DOCTYPE html>
<html lang="es">

<head>
	<base href="{{ .Site.BaseURL }}">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Page.Title }} - Ariel Costas</title>

	<link rel="canonical" href="{{ .Permalink }}">

	<meta name="description" content="{{ .Page.Description }}">

	<meta property="og:title" content="{{ .Page.Title }} - Ariel Costas">
	<meta property="og:description" content="{{ .Page.Description }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{ .Permalink }}">

	{{ $stylesheetOptions := dict "transpiler" "libsass" }}
	{{ $mainStylesheet := resources.Get "css/base.scss" | resources.ToCSS $stylesheetOptions | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href='{{ $mainStylesheet.RelPermalink }}' integrity='{{ $mainStylesheet.Data.Integrity }}' crossorigin='anonymous'>

	{{ $darkStylesheet := resources.Get "css/dark.scss" | resources.ToCSS $stylesheetOptions | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href='{{ $darkStylesheet.RelPermalink }}' integrity='{{ $darkStylesheet.Data.Integrity }}' crossorigin='anonymous' media="(prefers-color-scheme: dark)">

</head>

<body>
	{{ partial "partials/header.html" . }}

	<main>
		{{ block "main" . }}
		{{ end }}
	</main>

	{{ partial "partials/footer.html" . }}

	{{ $script := resources.Get "js/navbar.js" | minify }}
	<script src='{{ $script.RelPermalink }}'></script>
</body>

</html>