<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"@id": "https://costas.dev/me",
	"name": "Ariel Costas Guerrero",
	"givenName": "Ariel",
	"familyName": "Costas Guerrero",
	"url": "https://costas.dev/me",
	"nationality": "ES",
	"sameAs": [
		"https://github.com/arielcostas",
		"https://linkedin.com/in/ariel-costas",
		"https://masto.es/@arielcg"
	],
	"hasCertification": [
		{
			"@type": "Certification",
			"name": "Microsoft Certified: Azure DevOps Engineer Expert",
			"url": "https://learn.microsoft.com/gl-es/users/ariel-costas/transcript/vn32b8j6m2zwyn7",
			"validFrom": "2023-09-15",
			"expires": "2024-09-16",
			"issuedBy": {
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "Microsoft Corporation",
				"url": "https://microsoft.com"
			}
		},
		{
			"@type": "Certification",
			"name": "Microsoft Certified: Azure Developer Associate",
			"url": "https://learn.microsoft.com/gl-es/users/ariel-costas/transcript/vn32b8j6m2zwyn7",
			"validFrom": "2023-09-15",
			"expires": "2024-09-16",
			"issuedBy": {
				"@context": "http://schema.org",
				"@type": "Organization",
				"name": "Microsoft Corporation",
				"url": "https://microsoft.com"
			}
		}
	]
}
</script>