<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BlogPosting",
		"@id": {{ printf "%s" .Page.Permalink }},
		"url": {{ printf "%s" .Page.Permalink }},
		"headline": {{ printf "%s" .Title | safeJS }},
		{{- with .Params.summary -}}		
		"description": {{ printf "%s" . | safeJS }},
		{{- end }}
		{{ with .Params.date -}}
		"datePublished": {{ time.Format "2006-01-02T15:04:05-07:00" . }},
		{{- end }}
		"author": {
			"@type": "Person",
			"url": "https://www.costas.dev/me",
			"name": "Ariel Costas Guerrero"
		},
		"creator": {
			"@type": "Person",
			"url": "https://www.costas.dev/me",
			"name": "Ariel Costas Guerrero"
		},
		"inLanguage": "{{ with .Params.lang }}{{ . }}{{ else }}es{{ end }}"
	}
</script>