@font-face {
	font-family: 'Sen Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 400 800;
	src: url("/fonts/Sen.woff2") format("woff2-variations");
}

$mainFontStack: 'Sen Variable', 'Arial', system-ui, sans-serif;
$monoFontStack: 'Fira Code', 'Consolas', monospace;