$accent: hsl(215, 69%, 49%);
$accentLight: hsl(215, 69%, 59%);
$accentDark: hsl(215, 69%, 39%);
$dark: hsl(340, 13%, 5%);
$light: hsl(214, 64%, 98%);
$lightAlt: hsl(0, 0%, 94%);

$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);

$floatingRadius: 0.5rem;

$breakpointTablet: 480px;
$breakpointDesktop: 1024px;

:root {
	font: 400 16px/1.65 $mainFontStack;
}
