@import "fonts.scss";
@import "root.scss";

@import "markup/render-heading.scss";

@import "partials/header.scss";
@import "partials/article.scss";
@import "partials/footer.scss";

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-heading);
	line-height: 1.25;
	margin-top: 0;
	margin-bottom: 0.6em;	
}

h1 {
	font-weight: 900;
}

a {
	color: var(--accent-500);
}

#main-footer-separator {
	flex-grow: 1;
	flex-shrink: 0;
}

main {
	max-width: 80ch;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;

	font-size: 1.25rem;
}