@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/aleo.woff2') format('woff2-variations');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rubik.woff2') format('woff2-variations');
}