@font-face {
	font-family: 'Aleo';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/aleo.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Aleo';
	font-style: italic;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/aleo-italic.ttf') format('truetype-variations');
}

@font-face {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/fonts/rubik.ttf') format('truetype-variations');
}