:root {
	--font-heading: 'Aleo', "Roboto Slab", "Times New Roman", serif;
	--font-body: 'Rubik', Helvetica, sans-serif;
	--font-mono: 'Roboto Mono', "Ubuntu Mono", "Fira Code", "Courier New", "Consolas", , monospace;

	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	font-family: var(--font-body);

	--accent-1: hsl(152, 90%, 20%);
	--accent-2: hsl(152, 90%, 30%);
	--accent-3: hsl(152, 90%, 40%);
	--accent-4: hsl(152, 90%, 50%);
	--accent-5: hsl(152, 90%, 60%);
	--accent-6: hsl(152, 90%, 70%);
	--accent-7: hsl(152, 90%, 80%);
}