---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="403!! - Prohibido"
  description="Has llegado a una página que no tienes permiso para ver."
>
  <h1>Página prohibida (HTTP 403)</h1>

  <p>
    Has llegado a una página que no tienes permiso para ver (suponiendo que
    estás autenticado de algún modo, no estás autorizado), o es posible que el
    enlace que has seguido esté roto y hayas llegado a donde no tenías que
    llegar.
  </p>

  <p>
    Si crees que esto es un error, no dudes en ponerte en contacto conmigo a
    través de mi <a href="https://www.costas.dev/contact">página de contacto</a
    >.
  </p>
</Layout>
