---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="404!! - Página no encontrada"
  description="Página de error 404, no encontrada"
>
  <h1>Página no encontrada (HTTP 404)</h1>

  <p>
    Has llegado a una página que no existe (
    <i
      >o es privada y la escondo para que no la encuentres 😉, misterio
      misterioso</i
    >). Es posible que el enlace que has seguido esté roto o que la página haya
    sido eliminada.
  </p>

  <p>
    Si crees que esto es un error, no dudes en ponerte en contacto conmigo a
    través de mi
    <a href="https://www.costas.dev/contact">página de contacto</a>.
  </p>
</Layout>
