---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="500!! - Error interno del servidor"
  description="Ocurrió un error interno en el servidor."
>
  <h1>Error interno del servidor (HTTP 500)</h1>

  <p>
    Ha ocurrido un error interno en el servidor. Es posible que ya esté al tanto
    del problema, pero por si acaso, escríbeme a través de mi <a
      href="https://www.costas.dev/contact">página de contacto</a
    > para informarme sobre el error.
  </p>
</Layout>
