<footer>
	<p>
		Copyright &copy; 2023-{new Date().getFullYear()} Ariel Costas Guerrero. Todos
		los derechos reservados.
	</p>
	<p>
		Contenido cedido bajo licencia <a
			href="https://creativecommons.org/licenses/by-sa/4.0/deed.es"
			>CC BY-SA 4.0</a
		> salvo que se indique lo contrario. El código fuente de este sitio está
		disponible en <a href="https://github.com/arielcostas/costasdev"
			>GitHub</a
		>, bajo los términos de la <a
			href="https://joinup.ec.europa.eu/collection/eupl/eupl-text-11-12"
			>Licencia Pública de la Unión Europea</a
		>.
	</p>
</footer>

<style lang="scss">
	@import "../../styles/shared.scss";

	footer {
		background-color: $dark;
		color: $light;
		text-align: center;

		padding: 0.5rem 1rem;

		a {
			color: $accentLight;
		}
	}
</style>
