header {
	background-color: var(--accent-5);
	color: black;

	display: flex;
	flex-direction: horizontal;
	align-items: center;
	justify-content: space-between;

	padding: 1rem 2rem;
	margin-bottom: 1rem;

	h1 {
		font-size: 2rem;
		margin: 0;
		font-weight: 900;
		letter-spacing: 0.15rem;

		a {
			text-decoration: none;
		}
	}

	p {
		font-size: 1.2rem;
		font-weight: 300;
	}

	nav > a {
		text-decoration: none;
		font-weight: 700;
		font-size: 1.2rem;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		margin: 0 0.5rem;
		transition: color 0.2s ease-in-out;

		&:hover {
			color: var(--accent-dark);
		}
	}
}