<svg viewBox="0 0 512 512" version="1.1" xmlns="http://www.w3.org/2000/svg">
	<defs id="defs1">
		<marker
			style="overflow:visible"
			id="ArrowWideRounded"
			refX="0"
			refY="0"
			orient="auto-start-reverse"
			markerWidth="1"
			markerHeight="1"
			viewBox="0 0 1 1"
			preserveAspectRatio="xMidYMid"
		>
			<path
				style="fill:none;stroke:context-stroke;stroke-width:1;stroke-linecap:round"
				d="M 3,-3 0,0 3,3"
				transform="rotate(180,0.125,0)"
				id="path2"></path>
		</marker>
	</defs>

	<title>Site icon</title>

	<path
		style="stroke-width:1;stroke-dasharray:none;marker-end:url(#ArrowWideRounded);paint-order:stroke fill markers"
		d="m 331.6,348.2336 h -6.72 c -8.96,18.66667 -21.46667,32.48 -37.52,41.44 -15.67999,8.96 -32.29333,13.0464 -49.84,13.0464 -18.29333,0 -35.28,-2.98667 -50.96,-8.96 -15.68,-6.34667 -29.49333,-15.49333 -41.44,-27.44 -11.57333,-12.32 -20.72,-27.25333 -27.44,-44.8 -6.72001,-17.54667 -10.08001,-37.89333 -10.08001,-61.04 v -8.96 c 0,-22.77333 3.36,-42.93333 10.08001,-60.48 6.72,-17.54667 15.86667,-32.29333 27.44,-44.24 11.94667,-12.32 25.76,-21.65333 41.44001,-28 15.68,-6.34667 32.29333,-9.52 49.84,-9.52 19.04,0 36.21333,4.29333 51.52,12.88 15.68,8.21333 28,21.09333 36.96,38.64 h 6.72 v -43.68 h 43.68 v 220.64 c 0,11.2 5.04,16.8 15.12,16.8 h 14 v 40.32 h -29.68 c -12.69333,0 -23.14667,-3.71306 -31.36,-11.9264 -7.84,-8.21333 -11.75996,-18.66666 -11.76,-31.36 z M 242,361.28 c 13.06667,0 25.01334,-2.42667 35.84001,-7.28 C 289.04,349.14667 298.56,342.24 306.4,333.28 c 7.84,-8.96 14,-19.6 18.48,-31.92 4.48,-12.69333 6.72,-26.69333 6.72,-42 v -6.72 c 0,-14.93333 -2.24,-28.56 -6.72,-40.88 -4.48,-12.69333 -10.82666,-23.52 -19.03999,-32.48 -7.84,-8.96 -17.36,-15.86667 -28.56,-20.72 -10.82667,-5.22667 -22.58667,-7.84 -35.28,-7.84 -13.06667,0 -25.01333,2.42667 -35.84,7.28 -10.82667,4.85333 -20.34667,11.76 -28.56,20.72 -7.84,8.58667 -14,19.22667 -18.48,31.92 -4.48,12.32 -6.72,25.94667 -6.72,40.88 v 8.96 c 0,31.73333 8.21333,56.56 24.64,74.48 16.8,17.54667 38.45333,26.32 64.95999,26.32 z"
		id="text1"
		aria-label="a"></path>
</svg>

<style>
	svg {
		width: auto;
		height: 2rem;
	}
</style>
