$titleFontStack: "Encode Sans", "Liberation Sans", "Arial", "Helvetica", sans-serif;
$mainFontStack: "Encode Sans", "Liberation Sans", "Arial", "Helvetica", sans-serif;
$monoFontStack: "Roboto Mono Variable", "Fira Code", "Consolas", monospace;

$accent: hsl(209, 94%, 42%);
$accentLight: hsl(215, 90%, 60%);
$accentDark: hsl(215, 90%, 30%);
$secondary: hsl(48, 100%, 50%);
$dark: hsl(340, 13%, 5%);

$background: hsl(210, 40%, 96%);
$backgroundDarker: hsl(210, 40%, 80%);
$light: hsl(214, 64%, 98%);
$lightAlt: hsl(0, 0%, 100%);

$noteBackground: hsl(210, 40%, 86%);
$noteText: hsl(210, 40%, 40%);

$warningBackground: hsl(40, 100%, 90%);
$warningText: hsl(40, 100%, 30%);

$shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15);

$floatingRadius: 0.5rem;

$breakpointTablet: 480px;
$breakpointDesktop: 1024px;
