@use "./variables" as *;
@use "./alert";
@use 'sass:color';

body {
  font-family: $mainFontStack;
  line-height: 1.65;
  color: $dark;
  background-color: $background;
}

%heading {
  font-family: $titleFontStack;
  margin-block-start: 1rem;
  margin-block-end: 1.5rem;
  color: $accentDark;
  text-shadow: 1px 1px 0 #fff;
}

h1 {
  @extend %heading;
  font-size: 2.75rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid $accent;
  letter-spacing: -0.02em;
}

h2 {
  @extend %heading;
  font-size: 2rem;
  line-height: 1.2;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid $accent;
  letter-spacing: -0.02em;
}

h3 {
  @extend %heading;
  font-size: 1.5rem;
  line-height: 1.3;
}

h4 {
  @extend %heading;
  font-size: 1.2rem;
  line-height: 1.3;
}

p {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);

  th,
  td {
    border: 1px solid #ddd;
    padding: 0.75rem;
    text-align: left;
  }

  th {
    background: $accent;
    //background-image: $glossyGradient;
    color: white;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
  }

  tbody tr:nth-child(odd) {
    background-color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
}
