@use "./variables" as *;
@use "./alert";
@use 'sass:color';

body {
  font-family: $mainFontStack;
  line-height: 1.65;
  color: #000000;
}

%heading {
  font-family: $titleFontStack;
  margin-block-start: 0.75em;
  margin-block-end: 0.25em;
}

h1 {
  @extend %heading;
  font-size: 3.25rem;
  line-height: 1.3;

}

h2 {
  @extend %heading;
  font-size: 2.5rem;
  line-height: 1.55;
  font-variation-settings: "wdth" 87.5,"wght" 700,"GRAD" 150
}

h3 {
  @extend %heading;
  font-size: 2rem;
  line-height: 1.55;
}

h4 {
  @extend %heading;
  font-size: 1.25rem;
  line-height: 1.55;
}

p {
  font-variation-settings: "GRAD" -15,"wdth" 112.5;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;

  th,
  td {
    border: 1px solid $accent;
    padding: 0.75rem;
    text-align: left;
  }

  th {
    font-variation-settings: "GRAD" 150,"wdth" 87.5,"wght" 700;
  }

  tbody tr:nth-child(odd) {
    background-color: color.scale($accent, $lightness: 90%);
  }

  th,
  tbody tr:nth-child(even) {
    background-color: color.scale($accent, $lightness: 97%);
  }
}
