---
import Layout from "../../layouts/Layout.astro";
import TechnologyBadge from "../../partials/TechnologyBadge.astro";
---

<Layout
	title="Punto de información turística en móviles"
	description="Creación de un sitio web dinámico con PHP adaptado a móviles y accesible mediante QR en localizaciones físicas"
>
	<a href="/portfolio">← Volver al portfolio</a>

	<h1>Punto de información turística en móviles (2020-2021)</h1>

	<p>
		Creación de un sitio web dinámico con PHP adaptado a móviles y accesible
		mediante QR en localizaciones físicas. Cada página muestra datos de la
		ubicación correspondiente en tres idiomas (castellano, gallego e
		inglés), una galería de imágenes en 360º con la biblioteca PanoLens y
		vídeos incrustados de YouTube.
	</p>

	<h2>Tecnologías utilizadas</h2>

	<TechnologyBadge size={"small"} code="php" />
	<TechnologyBadge size={"small"} code="webtrio" />
</Layout>
