---
import Layout from "../../layouts/Layout.astro";
import TechnologyBadge from "../../partials/TechnologyBadge.astro";

const schema = {
	"@context": "https://schema.org",
	"@type": "WebPage",
	url: "https://www.costas.dev/portfolio",
	headline: "Mi portfolio de proyectos",
};
---

<Layout title="Portfolio" description="Un listado de los proyectos en los que he trabajado en los últimos años, con las tecnologías utilizadas.">
	<script
		is:inline
		type="application/ld+json"
		slot="head-jsonld"
		set:html={JSON.stringify(schema)}
	></script>

	<h1>Mi portfolio</h1>

	<p>
		En esta sección encontrarás una lista de los proyectos en los que he
		trabajado, tanto para terceros como propios. Si quieres más información
		sobre alguno de ellos, no dudes en
		<a href="/contact">contactar conmigo</a>.
	</p>

	<h2>Proyectos para terceros (freelance)</h2>

	<p>
		En contadas ocasiones, he realizado proyectos para terceros por encargo:
	</p>

	<ul>
		<li>
			<p>
				<strong
					>Extractor de pedidos compra online (2023-actualidad)</strong
				>
			</p>

			<p>
				Aplicación de escritorio que extrae los datos sobre los pedidos
				on-line de diversas plataformas (como WooCommerce, Amazon y
				Ebay).
				<a href="/portfolio/order-extractor">Leer más</a>
			</p>

			<TechnologyBadge size="small" code="java" />
			<TechnologyBadge size="small" code="javafx" />
			<TechnologyBadge size="small" code="windows" />
		</li>

		<li>
			<p>
				<strong>
					Punto de información turística en móviles (2020-2021)
				</strong>
			</p>

			<p>
				Aplicación web de información turística, con QR, contenido en 360º e incrustado
				de YouTube.
				<a href="/portfolio/dynamic-tourist-info">Leer más</a>
			</p>

			<TechnologyBadge size={"small"} code="php" />
			<TechnologyBadge size={"small"} code="webtrio" />		
		</li>
	</ul>

	<h2>Proyectos propios</h2>

	<p>
		Además, tengo varios proyectos propios que he desarrollado en mi tiempo
		libre:
	</p>

	<ul>
		<li>
			<p>
				<strong>Web personal (2023 - actualidad)</strong>
				Desarrollado con Astro, un generador de sitios web estáticos que
				permite escribir contenido en Markdown y publicar en la web con un
				rendimiento excelente. Desplegado sobre Azure Static Web Apps.
			</p>

			<TechnologyBadge size="small" code="webtrio" />
			<TechnologyBadge size="small" code="astro" />
			<TechnologyBadge size="small" code="azure" />
		</li>

		<li>
			<p>
				<strong>MiEntreno (proyecto fin de ciclo)</strong>
				Aplicación web para la gestión de entrenamientos deportivos, con
				una interfaz sencilla y fácil de usar. Desarrollado con ASP.NET Core,
				Razor Pages y SQL Server. Desplegado en Azure App Service, y usando
				sistemas como RabbitMQ y Azure Communication Services.
			</p>

			<TechnologyBadge size="small" code="dotnet" />
			<TechnologyBadge size="small" code="sqlserver" />
			<TechnologyBadge size="small" code="azure" />
			<TechnologyBadge size="small" code="linux" />
			<TechnologyBadge size="small" code="rabbitmq" />
		</li>

		<li>
			<p>
				<strong>Vigo 360 (2021 - actualidad)</strong>
				Blog sobre Vigo y su entorno, orientado principalmente a hablar de
				movilidad y toponimia. Desarrollado en Go, con base de datos MySQL
				y desplegado sobre VPS administrado por mí mismo.
			</p>
			
			<TechnologyBadge size="small" code="go" />
			<TechnologyBadge size="small" code="mysql" />
			<TechnologyBadge size="small" code="linux" />
		</li>
	</ul>
</Layout>
