---
import Layout from "../../layouts/Layout.astro";
import TechnologyBadge from "../../partials/TechnologyBadge.astro";
---

<Layout
	title="Extractor de pedidos"
	description="Extractor de pedidos de compra online"
>
	<a href="/portfolio">← Volver al portfolio</a>

	<h1>Extractor de pedidos (2023-actualidad)</h1>

	<p>
		Implementación de una aplicación de escritorio que extrae los datos
		sobre los pedidos on-line de diversas plataformas (como WooCommerce,
		Amazon y Ebay) para almacenar de forma local y centralizada. Además,
		cruza estos datos con la base de datos de productos en almacén y sus
		precios de coste, para generar informes de Excel sobre los ingresos y
		costes por cada pedido, así como calcular la rentabilidad de estos.
	</p>

	<h2>Tecnologías utilizadas</h2>

	<TechnologyBadge size={"small"} code="java" />
	<TechnologyBadge size={"small"} code="javafx" />
	<TechnologyBadge size={"small"} code="windows" />
</Layout>
